
body{
    text-align: center;
}


.website{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 150px 70px 1fr 70px;

    grid-template-areas:
    "header header header header header"
    "menu menu menu menu menu"
    "content content content content lateral"
    "footer footer footer footer footer";
    height: 1000px;
    width: 90%;
    margin: 0px auto;
    border: 1px solid #ccc;
}

#header{
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    background: blue;
    color: white;
}
#header h1 {
    display: flex;
    align-self: center;
}

#menu{
    grid-area: menu;
    background: lightblue;
    color: black;
    line-height: 70px;
}

#menu ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
}

#content{
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #eee;
}

#content article{
    background: #ccc;
    border: 1px solid #555;
    margin: 10px;
}

#lateral{
    grid-area: lateral;
    background: orange;
    color: white;
}

#footer{
    grid-area: footer;
    background: black;
    color: white;
}