/*

1. crear un documento HTML y CSS
2- crar una structura html que cuente con un contendor general
cabecera, menu, barra lateral, seccion de contenido principal,
elementos dentro del contenedor principal y footer
3. todo el contenido debe estar dentro de lcontendor genreral 
y su ancho sera de 1200px y estar centrado
4. header debe ser del 100% del ancho y tener un texto grande centrado
5. menu debe tener los elemntos uno al lado del otro
6.el contenido prinicpal debe tener un ancho del 70%
7.el contenido dentro del contenedro principal debe ser una cuadricula con 4 lineads de 2 cajas.
8. la barra lateral debe tener un ancho del 30%
9. el footer debe tener un ancho del 100% del div que lo contiene
y estar abajo del todo
*/

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#general{
    width: 1200px;
    margin: 0px auto;
    margin-top: 20px;
    border: 5px solid #cccccc;
}

#header{
    width: 100%;
    height: 100px;
    background-color: rgb(71, 71, 245);
    text-align: center;
    color: white;
    line-height: 90px;
}

.clearfix {
    float: none;
    clear: both;
}
#menu{
    background-color: #cccc;

}


#menu ul li {
    display: block;
    float: left;
    border: 1px solid #CCC;
}

#menu ul li a{
    display: block;
    padding: 10px;
    color: #444444;
}

#menu ul li:hover {
    background: rgb(71, 71, 245);
    cursor: pointer;
}
#menu ul li:hover a{
    color: white;
}

#contenido{
    width: 69%;
    float: left;
    text-shadow: -10px 10px 5px black;
}

#lateral{
    width: 30%;
    border: 1px solid red;
    float: left;
    text-align: center;
    overflow-y: scroll;
}

#contenido .caja {
    position: relative;
    width: 40%;
    height: 250px;
    background-color: #ccc;
    border: 1px solid gray;
    color: #444;
    float: left;
    margin: 1%;
    margin-left: 5%;
    text-align: center;
    box-shadow: 0px 0px 15px gray;

    line-height: 200px;
    text-transform: uppercase;

    border-radius: 50px 10px 4px 51px;
}

#contenido > h1{
    text-align: center;
    border-bottom: 1px solid #cccc;
    padding: 15px;
}

#footer {
    width: 100%;
    background: #eee;
    text-align: center;
    height: 55px;
    line-height: 55px;
    border-top: 1px solid #ccc;
}
.sombra-interior{
    box-shadow: 5px 5px 5px black inset !important;
}

.libre{
    position: absolute;
    top: 300px;
    left: 50%;
    border: 1px solid black;
    background-color: red;
    color: white;
    width: 50px;
    height: 50px;
}

.libre2 {
    background-color: green;
    top: 280px;
    left: 50%;
    z-index: 1;
}
.fija{
    position: fixed;
    top: 50%;
    left: 0px;
    border: 1px solid black;
    background-color: blue;
    color: white;
    width: 50px;
    height: 50px;
}